.container-event {
  /*margin-top: 7px;*/
  margin-right: 20px;
  padding: 5px 15px;

  background-color: rgb(237, 237, 237);
}

.my-events-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;

  margin-top: 16px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 19px;
}

.eventTitle {
  margin-top: 20px;
  margin-bottom: 20px;
}

.addEventForm {
  margin-bottom: 20px;
}
