.navMain {
display: flex;
flex-direction: column;
padding-left: 50px;
}

#nav {
  width: 50px;
  color: black;
}

#nav:hover {
  color:blue
}

#navTwo {
  width: 50px;
  color: black;
}

#navTwo:hover {
  color:blue
}

/* body {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1rem, 2.28vw, 1.5rem);
  line-height: 1.54;
  font-weight: 500;
  margin: 100px 0;
} */

@media (min-width: 200px) {
  body {
  }
}

@media (min-width: 600px) {
  body {
  }
}

@media (min-width: 1000px) {
  body {
  }
}

/* h2 {
  font-size: clamp(3.5rem, 8vw, 5.25rem);
  font-weight: 800;
  margin-bottom: 16px;
} */
/* 
p {
  margin: 1em 0;
} */

/* img {
  width: 100%;
} */

.row {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 100px 0;
}

.row + .row {
  margin-top: 50px;
}

.rowBackground {
  background-color: #e6e6e6;
}

.skew {
  transform: skewY(-11.5deg);

  .media {
    transform: skewY(-11.5deg);
  }

  .mediaImg,
  .mediaContent {
    transform: skewY(11.5deg);
  }
}

.column {
  padding: 0 15px;
  max-width: 1000px;
}

.skew .column {
  transform: skewY(11.5deg);
}

.media {
  display: grid;
  grid-column-gap: 80px;
  grid-template-columns: 1fr;
  align-items: center;
}

.mediaImg {
  align-self: center;
}

@media (min-width: 48rem) {
  .media {
    grid-template-columns: 1.5fr 3fr;
  }
}

.influnce {
  width: 50px;
  font-size: 100px;
  position: relative;
  left: 30%;
}
