.navMain {
display: flex;
flex-direction: column;
padding-left: 50px;
}

#nav {
  width: 50px;
  color: black;
}

#nav:hover {
  color:rgba(200, 0, 255, 0.402)
}

#navTwo {
  width: 50px;
  color: black;
}

#navTwo:hover {
  color:rgba(0, 68, 255, 0.45)
}

.main {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1rem, 2.28vw, 1.5rem);
  line-height: 1.54;
  font-weight: 500;
  margin: 100px 0;
}

@media (min-width: 200px) {
  body {
  }
}

@media (min-width: 600px) {
  body {
  }
}

@media (min-width: 1000px) {
  body {
  }
}

.titles {
  font-size: clamp(3.5rem, 8vw, 5.25rem);
  font-weight: 800;
  margin-bottom: 16px;
}

.styles {
  margin: 1em 0;
}

.buteful {
  position: relative;
  left: 30%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 80%;
}

.row {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 100px 0;
}

.row + .row {
  margin-top: 50px;
}

.rowBackground {
  background-color: #e6e6e6;
}

.skew {
  transform: skewY(-11.5deg);
}

.column {
  padding: 0 15px;
  max-width: 1000px;
}

.skew .column {
  transform: skewY(11.5deg);
}

.media {
  display: grid;
  grid-column-gap: 80px;
  grid-template-columns: 1fr;
  align-items: center;
}

.mediaImg {
  border-radius: 15px;
  align-self: center;
}

@media (min-width: 48rem) {
  .media {
    grid-template-columns: 1.5fr 3fr;
  }
}

.influnce {
  position: relative;
  left: 23%;
  font-size: 9vw;
  line-height: 8vw;
  margin: 0;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 900;
  background: url(https://raw.githubusercontent.com/s1mpson/-/master/codepen/black-lives-matter/victim-collage.png);
  background-size: 40%;
  background-position: 50% 50%;
  -webkit-background-clip: text;
  color: rgba(0,0,0,0.08);
  animation: zoomout 10s ease 500ms forwards;
  }
  
  @keyframes zoomout {
  from {
    background-size: 40%;
  }
  to {
    background-size: 10%;
  }
  }

