* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.allUsersBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.oneUserBlock {
  margin: 20px;
  padding: 10px;
  width: 250px;
  background-color: aqua;
}

.ulOneUser {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.userAvatarBlock {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.userAvatar {
  width: 120px;
  text-align: center;
}
