* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.divFormUserEdit {
  display: flex;
  justify-content: center;
}

.ulUserEdit {
  display: flex;
  flex-direction: column;
}

.twoColumns {
  display: flex;
  justify-content: space-around;
}


.allUsersBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.oneUserBlock {
  margin: 20px;
  padding: 10px;
  width: 250px;
  background-color: aqua;
}

.ulOneUser {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.userAvatarBlock {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.userAvatar {
  width: 150px;
  text-align: center;
}
.hOneTag {
  margin-top: 30px;
  font-size: 30px;
  margin-bottom: 20px;
}

