* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.headerContainer {
  padding: 5px 50px;
  height: 65px;
  border: 1px solid var(--colors-text);
}

.first__nav {
  background-color: var(--colors-bg);
  padding: 25px 10px 20px 15px;
  border-radius: 19px;
  border: 1px solid var(--colors-text);
}

.ulBar {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 30px;
  height: 50px;
  list-style-type: none;
}

.sideBarContainer {
  padding: 20px 0 20px 20px;
  max-width: 250px;
  /* height: 700px; */
}

.ulSideBar li {
  margin-bottom: 24px;
}

.navSideBar__title {
  margin-bottom: 15px;
  color: rgb(169, 169, 169);
}

.ulSideBar li a {
  font-weight: bolder;
  color: rgb(110, 110, 110);
}

.fb-first {
  /* height: fit-content; */
  min-width: 250px;
  background-color: var(--colors-bg);
}

.fb-second {
  width: 950px;
  background-color: var(--colors-bg);
}

/* .fb-third {
  width: 200px;
} */

.aside__conteiner {
  padding: 20px;
}

.modeSwitcher {
  color: var(--colors-text);
  font-size: var(--fs-sm);
  cursor: pointer;
  text-transform: capitalize;
}

.nav-link__main {
  color: var(--colors-text);
}

.theme-btn {
  cursor: pointer;
}
