* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.headerContainer {
  padding: 5px 50px;
  height: 65px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.first__nav {
  /* background-color: rgb(237, 237, 237); */
  background-color: #fff;
  padding: 25px 10px 20px 15px;
  border-radius: 19px;
}

.ulBar {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 30px;
  height: 50px;
  list-style-type: none;
}

.sideBarContainer {
  padding: 20px 0px 20px 20px;
  max-width: 250px;
  /* height: 700px; */
}

.ulSideBar li {
  margin-bottom: 24px;
}

.navSideBar__title {
  margin-bottom: 15px;
  color: rgb(169, 169, 169);
}

.ulSideBar li a {
  font-weight: bolder;
  color: rgb(110, 110, 110);
}

.fb-first {
  /* height: fit-content; */
  min-width: 250px;
  background-color: rgb(237, 237, 237);
}

.fb-second {
  width: 950px;
  /* min-width: 950px; */
  background-color: rgb(236, 236, 236);
}

/* .fb-third {
  width: 200px;
} */

.aside__conteiner {
  padding: 20px;
}

.modeSwitcher {
  color: var(--colors-text);
  font-size: var(--fs-sm);
  cursor: pointer;
  text-transform: capitalize;
}

.mainLogo {
  background-image: url('');
}

.mainLogo {
  background-image: url('./img/Screenshot\ 2022-06-23\ at\ 21.27.44.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  padding-left: 50px;
}
