.frends-click{
  cursor: pointer;
  border: 1px solid #cecece;
  background: #f6f6f6;
  box-shadow: inset 0px 20px 20px #ffffff;
  border-radius: 8px;
  padding: 8px 14px;
  width: 120px;
}

.frends-click:hover {
box-shadow: inset 0px -20px 20px #ffffff;
}

.frends-click:active {
margin-top: 1px;
margin-bottom: -1px;
zoom: 1;
}

.frends-click:focus
{
outline:none;
} 


