.eventInfoContainer {
  min-width: 250px;
  min-height: 293px;
  /*max-width: 250px;*/
  margin-right: 20px;
  margin-top: 7px;
  padding: 15px;

  background-color: var(--colors-bg);
  border-radius: 19px;
}

.eventInfo {
  padding: 20px;
  min-height: 290px;
  border-radius: 19px;
  background-color: var(--colors-bg);
}

.eventInfo__btn {
  height: 30px;
  width: 100px;
  margin: 5px;
}
