.eventInfoContainer {
  min-width: 250px;
  min-height: 293px;
  /*max-width: 250px;*/
  margin-right: 20px;
  margin-top: 5px;
  padding: 15px;

  background-color: rgb(237, 237, 237);
  border-radius: 19px;
}

.eventInfo {
  padding: 0 20px 20px 20px;
  min-height: 290px;
  border-radius: 19px;
}

.eventInfo__btn {
  height: 30px;
  width: 100px;
  margin: 5px 0 0 0;
}

.eventInfo__title {
  font-size: 40px;
  margin-bottom: 10px;
}

.eventInfo__img {
  margin-bottom: 20px;
}

.eventInfo__desc {
  max-width: 850px;
  margin-bottom: 10px;
}


.eventInfo__btn {
  width: 150px;
  height: 39px;
  border-radius: 7px;
}

.eventInfo__btn {
  cursor: pointer;
  border: 1px solid #cecece;
  background: #f6f6f6;
  box-shadow: inset 0px 20px 20px #ffffff;
  border-radius: 8px;
  padding: 8px 14px;
  width: 150px;
  height: 40px;
}

.eventInfo__btn:hover {
  box-shadow: inset 0px -20px 20px #ffffff;
}

.eventInfo__btn:active {
  margin-top: 1px;
  margin-bottom: -1px;
  zoom: 1;
}

.eventInfo__btn:focus {
  outline: none;
}
